body{
    background: rgba(255, 202, 55, 0.76);
    font: normal 15pt Arial;
}




.texto-header{ 
    font: normal 18px Arial;
    text-align: center;
    color: white; 
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 1px 1px 10px black;
}

footer{
    text-align: center;
    margin-top: auto;
    color: white;
    font-style: italic;
}

div{
    text-align: center;
    font: normal 1rem Arial;
    padding: 8px;
}